*, html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/* font-family: "Crimson Pro", serif; */
/* font-family: "Work Sans", serif; */

body {
    font-family:"Work Sans", serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 0 30px;
}

.label {
    font-size: 1rem;    
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}

.p-text {
    font-size: 0.937rem;
}

.secondary-heading {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Crimson Pro", serif;
}
/* Header */

header {
    background-color: #74C69D;
    height: 12vh;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo {
    width: 187px;
    display: block;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-item {
    font-family:"Crimson Pro", serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    opacity: .70;
}
/* HAMBURGER */

/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    width: 80%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}

.hamburger {
    display: none;
}

.nav-bar {
    padding: 1rem;
    display: flex;
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 116, 52);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
    color: orange;
    text-transform: capitalize;

}


/* CONTAINER */

.main {
    padding-bottom: 50px;
}

h2 {
    padding-top: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 550;
    color: #74C69D;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-weight: 550;
    font-size: 40px;
    font-family: "Crimson Pro", serif;
    padding-bottom: 20px;
}

.text1 {
    text-align: center;
    padding-bottom: 20px;
}

.hero1 {
    padding-bottom: 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.img1 {
    width: 600px;
}

.img1:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}

.btn {
    padding: 15px 50px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:#212529;
    display: flex;
    justify-self: center;
}

.btn:hover {
    background-color: #494d51;
    transition: all ease-in-out 0.3s;
}

/* Footer */

footer {
    background-color: #74C69D;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 120px;
}

.media-icons {
    display: flex;
    align-items: center;
    gap: 20px;  
}

.media-icons > a {
    text-decoration: none;
}

.media-icons > img {
    display: block;
}

.licence {
    color: white;
    font-size: 1.25rem;
}

a img:hover {
    border-bottom: 3px solid blue;
}


@media (max-width:568px) {
    .hamburger {
        display: block;
    }

    nav, .header-wrapper {
        display: none; 
    }

    .img1 {
        width: 350px;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}